<div class="footer">
    <div class="container">
        <div class="footer__content">
            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>

            </ul>
            <h2 class="footer__copyright footer__copyright--1"> &copy;
                <script>document.write(new Date().getFullYear())</script> Bridge.Ai -
                All Rights Reserved
            </h2>
            <h2 class="footer__copyright footer__copyright--3 ms-3">
                Made with 🤍

            </h2>

        </div>
    </div>
</div>