<!-- ---------nav-bar---------- -->
<nav class="navigation " id="navbar">
    <div class="container navigation__content">
        <div class="overlay hidden"></div>
        <div class="navigation__menu ">
            <div class="hamburger" id="hamburger-1">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <a href="{{ url_for('home') }}" class="navigation__logo">
            <img src="{{ url_for('static', path = 'assets/img/bridge_logo.png')}}" alt="logo"
                class="navigation__logo--1">
            <img src="{{ url_for('static', path = 'assets/img/bridge_logo.png')}}" alt="logo"
                class="navigation__logo--2">
        </a>
        <ul class="navigation__list">
            <li class="navigation__items"> <a href="{{ url_for('home') }}" class="navigation__link active">
                    <i class="bi bi-house-door"></i>Home</a></li>
            <li class="navigation__items">
                <a href="{{ url_for('market') }}" class="navigation__link ">
                    <i class="bi bi-shop"></i> Market</a>
            </li>
            <li class="navigation__items"> <a href="{{ url_for('profile') }}" class="navigation__link">
                    <i class="bi bi-person-lines-fill"></i> Profile
                </a></li>
            <li class="navigation__items"> <a href="{{ url_for('logout') }}" class="navigation__link">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a></li>


            <div class="hamburger-2" id="hamburger-2">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </ul>

    </div>
</nav>
<!-- ---------nav-bar---------- -->