{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %}

<section class="land-header land-header--breadcrumb">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-12 land-header__content" data-aos="fade-right">
            <h1 class="land-header__title"> Contact us
            </h1>
            <h5 class="land-header__sub-title">
                Get in touch with us
            </h5>

        </div>
    </div>
</section>

<section class="land-contact">

    <div class="land-contact__content">
        <h1>contactus@bridgeaihub.com</h1>
        <a href="https://www.linkedin.com/company/bridgetechnology-ai/" target="_blank"
            class="land-nav__btn btn land-btn" style="background: #1e9df7;">Connect us in LinkeldIn</a>
    </div>

</section>

{% include 'includes/footer.html' %}

{% endblock content %}